<a href="https://colab.research.google.com/github/albaMCh/SQL/blob/main/Copia_de_Proyecto_final_sq.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Proyecto final de SQl**

Llegó la hora, es el momento de poner en práctica todo lo has aprendido de bases datos relacionales.

Para ello la plataforma de IMDb necesita hacer una serie de consultas para ver las mejores películas según sus ingresos, popularidad y votos, ademas de los mejores directores según la cantidad de ingresos totales de sus películas

IMDb es la fuente más popular y acreditada del mundo para contenido de películas, TV y celebridades. Explora películas y espectáculos de TV populares, noticias de entretenimiento y los últimos premios y eventos.

El archivo de la base de datos descragable se adjunta en el siguiente enlace 


[base de datos movies.sqlitel](https://drive.google.com/file/d/1lw6lSUsyYWXO-KgaVGZCB19OVOUHfj2-/view?usp=sharing)



Una vez descargado, lo único que tendrás que hacer es subirlo aquí.

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set
import sqlite3

db = 'movies.sqlite'

con = sqlite3.connect(db)
cur = con.cursor()

#**1** 
Para poder empezar a tratar los datos, primero vamos a probar a obtener todas las películas de su base de datos.

In [ ]:

cur.execute('SELECT * FROM movies')
movies = cur.fetchall()
movies = pd.DataFrame(movies, columns = ['id', 'original_title', 'budget', 'popularity', 'release_date', 'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagline', 'uid', 'director_id'])
movies.head()

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bond’s past sends him o...,A Plan No One Escapes,206647,4764
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766

In [ ]:
#@title Comprueba el ejercicio
def check():
  if movies.iloc[0,0]== 43597 and movies.iloc[0,1]=='Avatar' and movies.iloc[0,2]==237000000 and movies.iloc[0,3]==150 :
    return 'Correcto'
  else:
    return 'Incorrecto'
check()

'Correcto'

#**2**
Ahora que has conseguido todos los datos de las películas, veamos si puedes obtener todos los datos sobre los directores

In [ ]:

cur.execute('SELECT * FROM directors')
directors = cur.fetchall()
directors = pd.DataFrame(directors, columns = ['name', 'id', 'gender', 'uid', 'department'])
directors.head()

                name    id  gender   uid department
0      James Cameron  4762       2  2710  Directing
1     Gore Verbinski  4763       2  1704  Directing
2         Sam Mendes  4764       2    39  Directing
3  Christopher Nolan  4765       2   525  Directing
4     Andrew Stanton  4766       2     7  Directing

In [ ]:
#@title Comprueba el ejercicio
def check():
  if directors.iloc[3,0]== 'Christopher Nolan' and directors.iloc[3,1]==4765 and directors.iloc[3,2]==2 and directors.iloc[3,3]==525and directors.iloc[3,4]=='Directing' :
    return 'Correcto'
  else:
    return 'Incorrecto'
check()

'Correcto'

#**3**
Ahora vamos a ver cuantas películas hay en total en la base de datos de IMDb

In [ ]:
cur.execute('SELECT count (*) FROM movies ')
movies = cur.fetchall()
movies = pd.DataFrame(movies, columns = ['count movies'])
movies.head(3)

   count movies
0          4773

In [ ]:
#@title Comprueba el ejercicio
def check():
  if movies.iloc[0,0]== 4773:
    return 'Correcto'
  else:
    return 'Incorrecto'
check()

'Correcto'

#**4**

Vamos a por algo más difícil, encuentra estos 3 directores: James Cameron; Luc Besson; John Woo

In [ ]:
cur.execute('SELECT * FROM directors WHERE name="James Cameron" or name="Luc Besson" or name="John Woo"')
movies = cur.fetchall()
movies = pd.DataFrame(movies, columns = ['name', 'id', 'gender', 'uid', 'department'])
movies.head(3)

            name    id  gender    uid department
0  James Cameron  4762       2   2710  Directing
1       John Woo  4893       2  11401  Directing
2     Luc Besson  4949       2     59  Directing

In [ ]:
#@title Comprueba el ejercicio
def check():
  if movies.iloc[0,0]== 'James Cameron' and movies.iloc[1,0]== 'John Woo'and movies.iloc[2,0]== 'Luc Besson':
    return 'Correcto'
  else:
    return 'Incorrecto'
check()

'Correcto'

#**5**

Ahora queremos ver todos los directores cuyo nombre comience con Steven.

In [ ]:

cur.execute('SELECT * FROM directors WHERE name LIKE "Steven%"')
movies = cur.fetchall()
movies = pd.DataFrame(movies, columns = ['name', 'id', 'gender', 'uid', 'department'])
movies.head(3)

                name    id  gender    uid department
0   Steven Spielberg  4799       2    488  Directing
1  Steven Soderbergh  4909       2   1884  Directing
2       Steven Brill  5013       2  32593  Directing

In [ ]:
#@title Comprueba el ejercicio
def check():
  if movies.iloc[0,0]== 'Steven Spielberg' and movies.iloc[1,0]== 'Steven Soderbergh'and movies.iloc[2,0]== 'Steven Brill':
    return 'Correcto'
  else:
    return 'Incorrecto'
check()

'Correcto'

#**6**
Ahora vamos a hacer un recuento de todas las directoras.

In [ ]:
cur.execute('SELECT count(*) FROM directors WHERE gender=1')
movies = cur.fetchall()
movies = pd.DataFrame(movies, columns = ['count direcor female'])
movies.head(3)

   count direcor female
0                   150

In [ ]:
#@title Comprueba el ejercicio
def check():
  if movies.iloc[0,0]== 150:
    return 'Correcto'
  else:
    return 'Incorrecto'
check()

'Correcto'

#**7**
Ahora que has contado todas las directoras vamos buscar a los primeros Hombres directores?

In [ ]:
cur.execute('SELECT * FROM directors WHERE gender=2')
movies = cur.fetchall()
movies = pd.DataFrame(directors,  columns = ['name'])
movies.head(3)

             name
0   James Cameron
1  Gore Verbinski
2      Sam Mendes

In [ ]:
#@title Comprueba el ejercicio
def check():
  if movies.iloc[0,0]== 'James Cameron'and movies.iloc[1,0]== 'Gore Verbinski' and movies.iloc[2,0] =='Sam Mendes':
    return 'Correcto'
  else:
    return 'Incorrecto'
check()

'Correcto'

#**8** 
Vamos a ver cuáles son las 3 películas más populares

In [ ]:


cur.execute('SELECT popularity FROM movies')
movies = cur.fetchall()
movies = pd.DataFrame(movies, columns = ['original_title'])
movies.head(3)

   original_title
0             150
1             139
2             107

In [ ]:
#@title Comprueba el ejercicio
def check():
  if movies.iloc[0,0]== 150:
    return 'Correcto'
  else:
    return 'Incorrecto'
check()

'Correcto'

#**9**
¿Cuáles son las 3 películas con mayor presupuesto?

In [ ]:

cur.execute('SELECT original_title, popularity FROM (SELECT original_title, popularity, ((revenue-budget)/budget) as profit FROM movies WHERE popularity>130 order by profit DESC)')
movies = cur.fetchall()
movies = pd.DataFrame(movies, columns = ['original_title','popularity'])
movies.head(3)

       original_title  popularity
0       The Godfather         143
1  The Imitation Game         145
2             Minions         875

In [ ]:
#@title Comprueba el ejercicio
def check():
  if movies.iloc[0,0]== 'Pirates of the Caribbean: On Stranger Tides' and movies.iloc[0,1]== 135 and movies.iloc[1,0]== "Pirates of the Caribbean: At World's End" and movies.iloc[1,1]== 139 and movies.iloc[2,0]== 'Avengers: Age of Ultron' and movies.iloc[2,1]== 134:
    return 'Correcto'
  else:
    return 'Incorrecto'
check()

'Incorrecto'

#**10**
 ¿Qué película tiene el voto promedio más otorgado desde el 1 de enero de 2000?

In [ ]:

cur.execute('SELECT original_title,release_date FROM (SELECT original_title,release_date,max(vote_average) FROM movies WHERE release_date>"2000-01-01")')
movies = cur.fetchall()
movies = pd.DataFrame(movies, columns = ['original_title','release_date'])
movies.head(3)

  original_title release_date
0      Sardaarji   2015-06-26

In [ ]:
#@title Comprueba el ejercicio
def check():
  if movies.iloc[0,0]== 'Sardaarji' and movies.iloc[0,1]== '2015-06-26':
    return 'Correcto'
  else:
    return 'Incorrecto'
check()

'Correcto'

#**11**

¿Cuáles son las películas que dirigió Brenda Chapman?

In [ ]:

cur.execute('SELECT original_title FROM movies WHERE director_id in (SELECT id FROM directors WHERE name="Brenda Chapman")')
movies = cur.fetchall()
movies = pd.DataFrame(movies, columns = ['original_title'])
movies.head(3)

  original_title
0          Brave

In [ ]:
#@title Comprueba el ejercicio
def check():
  if movies.iloc[0,0]== 'Brave':
    return 'Correcto'
  else:
    return 'Incorrecto'
check()

'Correcto'

#**12**
¿Cuál es el director que hizo más películas?

In [ ]:

cur.execute('SELECT name FROM directors WHERE id in (SELECT director_id FROM(SELECT director_id,max(total) FROM (SELECT director_id,COUNT(director_id) AS Total FROM movies GROUP BY director_id)))')
movies = cur.fetchall()
movies = pd.DataFrame(movies, columns = ['name'])
movies.head(3)

               name
0  Steven Spielberg

In [ ]:
#@title Comprueba el ejercicio
def check():
  if movies.iloc[0,0]== 'Steven Spielberg':
    return 'Correcto'
  else:
    return 'Incorrecto'
check()

'Correcto'

#**13**

¿Cuál es el director más financiable?

In [ ]:
cur.execute('SELECT name FROM directors WHERE id in (SELECT director_id FROM(SELECT director_id,max(total) FROM (SELECT director_id,sum(revenue) AS Total FROM movies GROUP BY director_id)))')
movies = cur.fetchall()
movies = pd.DataFrame(movies, columns = ['name'])
movies.head(3)

               name
0  Steven Spielberg

In [ ]:
#@title Comprueba el ejercicio
def check():
  if movies.iloc[0,0]== 'Steven Spielberg':
    return 'Correcto'
  else:
    return 'Incorrecto'
check()

'Correcto'

In [ ]:
#@title Ejecuta este bloque y pega la salida en Nodd3r para corregir

import hashlib
cur.execute('SELECT * FROM movies;')
movies = cur.fetchall()
movies = pd.DataFrame(movies)
movies.head(3)
cur.execute('SELECT * FROM directors;')
directors = cur.fetchall()
directors = pd.DataFrame(directors)
directors.head(3)

correct = movies.iloc[0,4]+movies.iloc[19,4]+directors.iloc[0,4]+directors.iloc[0,4]

pwd = hashlib.sha256(str(correct).encode())
#print(pwd.hexdigest())
if pwd.hexdigest()[0:6] == 'e2b2a3':
  print('¡Felicidades! puedes avanzar al siguiente modulo \n El token es: ',pwd.hexdigest())
else:
  print('Hay algún error en el código o tu forma es diferente a la planteada, pregunta por el foro si no lo ves claro.')

¡Felicidades! puedes avanzar al siguiente modulo
 El token es:  e2b2a3484ac0b2ed7086c5f50d92c053ccdb819845e54935413d103f948aad8b